:root {
    --ziel: rgba(85, 107, 47, .5);
    --ziel2: rgba(85, 107, 47, .8);
    --nieb: rgba(0, 47, 107, .5);
    --buttonBorder: 2px solid rgba(255, 255, 255, .5);
    --napisy: rgba(255, 230, 100, .8);
    --infoBackground: rgba(0, 100, 100, .5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family:
        'Montserrat Alternates',
        sans-serif;
}

body {
    background-color: rgb(80, 80, 80);
}

p#auxiliary_line {
    position: absolute;
    top: 100vh;
    opacity: 0;
}


canvas {
    position: absolute;
    z-index: 1;
}

div.infoBackground {
    z-index: 3;
    background-color: var(--infoBackground);
    overflow: hidden;
    transition: all .5s ease;
}

p.footer {
    position: fixed;
    font-size: 1.4rem;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
    opacity: .7;
}

/*SPECIES SECTION START*/
div#species {
    position: absolute;
    padding: .5rem;
    /*JS*/
}

div#species:hover {
    cursor: default;
}

div#species h1 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin: .5rem;
}

div#species .speciesLabel {
    position: relative;
    display: inline-block;
    background-color: rgba(150, 150, 50, .5);
    border: 2px solid white;
    overflow: hidden;
    padding: .4rem;
    margin: .4rem;
    width: 220px;
}

.speciesLabel h3 {
    font-size: 1.4rem;
    text-decoration: underline;
    text-align: center;
    margin: .4rem;
    font-style: italic;
}

.speciesLabel h4 {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.speciesLabel h4.Spopulation {
    margin-bottom: 0rem;
}

.speciesLabel h5 {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-left: 1.8rem;
}

.speciesLabel canvas {
    position: absolute;
    top: 5.8rem;
    right: 1.8rem;
}

/*SPECIES SECTION END*/

/*MAIN MENU START*/

div#mainMenuWrap {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--napisy);
}

div#mainMenuWrap div.infoBackground {
    position: absolute;
    padding: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all .8s ease
}

div#mainMenuWrap div.infoBackground p {
    font-size: 1.5rem;
    width: 60vw;
    margin-bottom: 1rem;
    text-align: justify;
}

div#mainMenuWrap div.infoBackground p.center {
    text-align: center;
    width: auto;
}

div#mainMenuWrap div.infoBackground h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

div#mainMenuWrap div.infoBackground h3 {
    font-size: 1.8rem;
    text-align: center;
}

div#mainMenuWrap div.infoBackground#mainMenu h3 {
    margin-bottom: 2rem;
}


div#mainMenuWrap #about {
    z-index: 3;
}

div#mainMenuWrap #about,
div#mainMenuWrap #settings {
    transform: translateY(-100vh);
    opacity: 0;
    z-index: 2;
}

div#settings #startGenesContainer {
    display: flex;
    flex-direction: row;
}

div#settings #startGenesContainer .featureInputContainer {
    width: 14rem;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#settings #startGenesContainer .featureInputContainer input {
    width: 6rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--nieb);
    color: var(--napisy);
}

div#settings #startGenesContainer .featureInputContainer p {
    text-align: center;
    margin-bottom: 5px;
}

div#settings .selectionBar {
    display: flex;
    flex-direction: row;
}

div#settings .rectangle {
    background-color: var(--napisy);
    margin: .5rem .2rem 1.5rem;
    height: 3rem;
    width: 1.5rem;
    opacity: .1;
}

div#settings .leftTriangle {
    margin: .5rem .2rem 1.5rem;
    width: 0;
    height: 0;
    border-top: 1.5rem solid transparent;
    border-right: 2rem solid var(--ziel2);
    border-bottom: 1.5rem solid transparent
}

div#settings .rightTriangle {
    margin: .5rem .2rem 1.5rem;
    width: 0;
    height: 0;
    border-top: 1.5rem solid transparent;
    border-left: 2rem solid var(--ziel2);
    border-bottom: 1.5rem solid transparent
}

div#settings .leftTriangle:hover,
div#settings .rightTriangle:hover {
    cursor: pointer;
}

div#settings .leftTriangle:hover {
    border-right: 2rem solid rgba(255, 255, 255, .7);
}

div#settings .rightTriangle:hover {
    border-left: 2rem solid rgba(255, 255, 255, .7);
}

div#settings .active {
    opacity: .8;
    border: 2px solid var(--ziel2);
}

div#settings button#endlessEvolution {
    font-size: 1.3rem;
    width: 5rem;
    padding: .5rem;
    margin: .5rem .2rem 1.5rem;
}

/*MAIN MENU END*/

/*INFO BAR STATS START*/

div#infoBar {
    position: absolute;
    top: 0;
    /*left: -260px;*/
    /*width: 260px;*/
    /*height: 100vh;*/
}

#statsNames,
#stats {
    position: absolute;
    left: 20px;
    top: 2rem;
    z-index: 4;
    /*padding: 2rem;*/
    /*width: 240px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 3;
    text-align: end;
}

#startSettingsInfo {
    position: absolute;
    color: black;
    display: block;
    /*top, font-size, left, width, left, text-align, padding-rightt:JS*/
}

p {
    /*font-size: 1.3rem;*/
    color: var(--napisy);
}

p:hover {
    cursor: default;
}

div.statsGroup {
    margin-top: .9rem;
}

p.invisible {
    opacity: 0;
}

canvas#quantityGraph {
    position: absolute;
    /*left: 25px;*/
    /*bottom: 5px;*/
    opacity: .8;
    border: 1px solid white;
}

#buttons {
    position: absolute;
    left: 20px;
    top: 0;
    display: flex;
    z-index: 3;
}

button {
    font-size: 1.2rem;
    /*width: 90px;*/
    color: var(--napisy);
    background-color: var(--ziel);
    border: var(--buttonBorder);
}

button.animSpeed {
    /*width: 50px;*/
}

button:hover {
    cursor: pointer;
    background-color: var(--nieb);
    color: rgba(255, 255, 255, .5);
}

#showInfoBar {
    position: absolute;
    /*height: 100vh;*/
    width: 20px;
    z-index: 50;
    background-color: var(--ziel);
    border: var(--buttonBorder);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#showInfoBar .arrow {
    margin-top: 4px;
    position: relative;
    background-color: var(--napisy);
    width: 10px;
    height: 2px;
    transition: all .5s ease;
}

#showInfoBar .arrow#arrow1 {
    transform: rotate(45deg);
}

#showInfoBar .arrow#arrow2 {
    transform: rotate(-45deg);
}

input.toggler#sideToggler {
    position: absolute;
    width: 20px;
    /*height: 100vh;*/
    opacity: 0;
    left: 0;
    z-index: 100;
}

input.toggler#sideToggler:hover {
    cursor: pointer;
}

input.toggler#sideToggler:checked + #infoBar {
    transform: translateX(260px);
}

input.toggler#sideToggler:hover ~ #showInfoBar {
    background-color: var(--nieb);
}

input.toggler#sideToggler:checked ~ #showInfoBar .arrow#arrow1 {
    transform: rotate(-45deg);
}

input.toggler#sideToggler:checked ~ #showInfoBar .arrow#arrow2 {
    transform: rotate(45deg);
}

/*INFO BAR STATS END*/

button.mainMenuButton {
    width: 20rem;
    font-size: 1.8rem;
    line-height: 3rem;
    margin: .5rem;
}


@media(max-width: 1300px) {

    div#mainMenuWrap div.infoBackground#about p {
        font-size: 1.3rem;
        width: 70vw;
        margin-bottom: .8rem;
    }

    div#mainMenuWrap div.infoBackground#about h2 {
        font-size: 2rem;
        margin-bottom: .7rem;
    }

    button.mainMenuButton#aboutBack {
        width: 12rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
    }


    p.footer {
        font-size: 1.2rem;
        bottom: .8rem;
        right: .8rem;
    }
}


@media (max-width:700px),
(max-height:600px) {

    /*SPECIES SECTION START*/

    div#species h1 {
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin: .35rem;
    }

    div#species .speciesLabel {
        border: 1px solid white;
        padding: .2rem;
        margin: .2rem;
        width: 180px;
    }

    .speciesLabel h3 {
        font-size: 1.1rem;
        margin: .2rem;
    }

    .speciesLabel h4 {
        font-size: .9rem;
        margin-bottom: .8rem;
        margin-top: .5rem;
    }

    .speciesLabel h5 {
        font-size: .8rem;
        line-height: 1.1rem;
        margin-left: 1.2rem;
    }

    .speciesLabel canvas {
        top: 3.6rem;
        right: 1.2rem;
    }

    /*SPECIES SECTION END*/

    /*MAIN MENU START*/

    div#mainMenuWrap div.infoBackground#about,
    div#mainMenuWrap div.infoBackground#settings {
        padding: 1.5rem;
    }

    button.mainMenuButton {
        width: 18rem;
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin: .4rem;
    }

    div#mainMenuWrap div.infoBackground#about p {
        font-size: 1.1rem;
        width: 80vw;
        margin-bottom: .5rem;
    }

    div#mainMenuWrap div.infoBackground#about h2 {
        font-size: 1.8rem;
        margin-bottom: .5rem;
    }

    button.mainMenuButton#aboutBack {
        width: 10rem;
        font-size: 1.5rem;
        line-height: 2.2rem;
    }

    div#mainMenuWrap div.infoBackground p {
        font-size: 1.1rem;
    }

    div#mainMenuWrap div.infoBackground h2 {
        font-size: 1.8rem;
        margin-bottom: .7rem;
    }

    div#mainMenuWrap div.infoBackground h3 {
        font-size: 1.3rem;
    }

    button.mainMenuButton#settingsBack {
        width: 10rem;
        font-size: 1.5rem;
        line-height: 2.2rem;
    }

    div#settings button#endlessEvolution {
        font-size: 1.1rem;
        width: 4.5rem;
        padding: .3rem;
        margin: .3rem .1rem 1.2rem;
    }

    div#settings .rectangle {
        margin: .3rem .2rem 1rem;
        height: 2.6rem;
        width: 1.3rem;
    }

    div#settings .leftTriangle {
        margin: .3rem .2rem 1rem;
        border-top: 1.3rem solid transparent;
        border-right: 1.7rem solid var(--ziel2);
        border-bottom: 1.3rem solid transparent
    }

    div#settings .rightTriangle {
        margin: .3rem .2rem 1rem;
        border-top: 1.3rem solid transparent;
        border-left: 1.7rem solid var(--ziel2);
        border-bottom: 1.3rem solid transparent
    }

    div#settings .leftTriangle:hover {
        border-right: 1.7rem solid rgba(255, 255, 255, .7);
    }

    div#settings .rightTriangle:hover {
        border-left: 1.7rem solid rgba(255, 255, 255, .7);
    }

    div#settings #startGenesContainer .featureInputContainer input {
        width: 4rem;
        font-size: 1.2rem;
    }

    div#settings #startGenesContainer .featureInputContainer {
        width: 10rem;
        padding: 5px;
    }

    /*MAIN MENU END*/

    p.footer {
        font-size: 1rem;
        bottom: .7rem;
        right: .7rem;
    }
}

@media (max-width:600px),
(max-height:420px) {

    div#mainMenuWrap div.infoBackground#about p {
        font-size: .9rem;
        width: 95vw;
        margin-bottom: .3rem;
    }

    div#mainMenuWrap div.infoBackground#about h2 {
        font-size: 1.3rem;
        margin-bottom: .3rem;
    }

    button.mainMenuButton#aboutBack {
        width: 8rem;
        font-size: 1.3rem;
        line-height: 2rem;
    }
}

@media (max-width:400px) {
    div#settings #startGenesContainer {
        display: flex;
        flex-direction: column;
    }
}

/*commented fragments are set in js*/
